/* Stili globali */
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Stili su contenitore generale */
.main-container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
